baseurl = "https://tomisqi.github.io/"
canonifyURLs = true
languageCode = "en-us"
Title = ""
theme = "potato-dark"

# Copyright notice. This is displayer in the footer.
copyright = "&copy; Copyright notice"


[params]
  paginate = 10
  # Social accounts. Link to these accounts are displayed in the header and
  # footer
  twitter = "tomisqi"
  #linkedin = "Your LinkedIn username"
  # Disqus shortname
  #disqus = ""

[[menu.main]]
    name = "Blog"
    url = "/posts"
    weight = 1

[[menu.main]]
    name = "Projects"
    url = "/projects"
    weight = 2

[[menu.main]]
    name = "About"
    url = "/about"
    weight = 3


[related]
  # Only include matches with rank >= threshold. This is a normalized rank between 0 and 100.
  threshold = 80

  # To get stable "See also" sections we, by default, exclude newer related pages.
  includeNewer = false

  # Will lower case keywords in both queries and in the indexes.
  toLower = false

  [[related.indices]]
  name = "keywords"
  weight = 150
  [[related.indices]]
  name  = "author"
  toLower = true
  weight = 30
  [[related.indices]]
  name  = "tags"
  weight = 100
  [[related.indices]]
  name  = "date"
  weight = 10
  pattern = "2017"
